body{

background:#eef2f7;

font-family:Arial, Helvetica, sans-serif;

padding-top:60px;

}

.card{

max-width:900px;

margin:auto;

padding:35px;

border-radius:20px;

background:white;

}

h1{

font-weight:bold;

margin-bottom:25px;

}

.table{

margin-top:30px;

}

.btn{

border-radius:12px;

}

.container-fluid{

padding:40px;

}

.table-hover tbody tr:hover{

background:#d8ecff;

}

.table th{

background:#0d6efd;

color:white;

text-align:center;

}

.table td{

text-align:center;

}